In [205]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics
from sklearn.metrics import confusion_matrix
import itertools

In [206]:
## DATA PREPARATION (fake data)
np.random.seed(3)
columns = ['Height', 'Weight', 'Obesity']
index = ['person_' + str(x) for x in range(1, 11)]
height_val = [np.random.randint(160, 200) for x in index]
weight_val = [np.random.randint(60, 100) for x in index]
obesity_val = [np.random.randint(0,2) for x in index]
values = zip(height_val, weight_val, obesity_val)

df = pd.DataFrame(values, index=index, columns=columns)
df = df.reset_index()
df

       index  Height  Weight  Obesity
0   person_1     184      92        0
1   person_2     163      80        1
2   person_3     168      89        0
3   person_4     160      99        1
4   person_5     181      74        1
5   person_6     179      86        0
6   person_7     170      77        1
7   person_8     170      86        0
8   person_9     181      82        0
9  person_10     198      62        1

In [208]:
class Dlnet(object):
    def __init__(self, x, y):
        self.X = x
        self.Y = y
        
        self.param = {}
        
        self.dims = [2,3,1]
        
    def ninit(self):
        self.param['W1'] = np.random.randn(self.dims[1], self.dims[0]) / np.sqr(self.dims[0])
        self.param['b1'] = np.zeros((self.dims[1],1))
        self.param['W2'] = np.random.randn(self.dims[2], self.dims[1]) / np.sqr(self.dims[1])
        self.param['b2'] = np.zeros((self.dims[2],1))

In [209]:
dims = [2,3,1]
param = {}

def ninit(dimension, parameter):
    np.random.seed(1)

    parameter['W1'] = np.random.randn(dims[1], dims[0]) / np.sqrt(dims[0])
    parameter['b1'] = np.zeros((dims[1],1))
    parameter['W2'] = np.random.randn(dims[1], dims[2]) / np.sqrt(dims[1])
    parameter['b2'] = np.zeros((dims[2],1))
    
    #print('W1 = {};\nW1.shape = {}; \nb1 = {}; \nb1.shape = {};'.format(parameter['W1'], parameter['W1'].shape, parameter['b1'], parameter['b1'].shape)) 
    #print('W2 = {};\nW2.shape = {}; \nb2 = {}; \nb2.shape = {};'.format(parameter['W2'], parameter['W2'].shape, parameter['b2'], parameter['b2'].shape))
    return parameter

def Sigmoid(Z):
    return 1/(1+np.exp(-Z))

def Relu(Z):
    return np.maximum(0,Z)

def forward(X, parameter):
    A1 = parameter['W1'].dot(X) + parameter['b1']
    A1 = Relu(A1)
    
    A2 = parameter['W2'].dot(A1) + parameter['b2']
    A2 = Sigmoid(A2)
    
    return A2

In [210]:
ninit(dims, param)

{'W1': array([[ 1.14858562, -0.43257711],
        [-0.37347383, -0.75870339],
        [ 0.6119356 , -1.62743362]]), 'b1': array([[0.],
        [0.],
        [0.]]), 'W2': array([[ 1.00736754],
        [-0.43948301],
        [ 0.18419731]]), 'b2': array([[0.]])}

In [211]:
df.drop('index', axis=1, inplace=True)
df = df.astype(float)
df

   Height  Weight  Obesity
0   184.0    92.0      0.0
1   163.0    80.0      1.0
2   168.0    89.0      0.0
3   160.0    99.0      1.0
4   181.0    74.0      1.0
5   179.0    86.0      0.0
6   170.0    77.0      1.0
7   170.0    86.0      0.0
8   181.0    82.0      0.0
9   198.0    62.0      1.0

In [212]:
names = df.columns[0:2]
scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(df.iloc[:,0:2])
scaled_df = pd.DataFrame(scaled_df, columns=names)
scaled_df['Obesity'] = df['Obesity']
scaled_df

     Height    Weight  Obesity
0  0.631579  0.810811      0.0
1  0.078947  0.486486      1.0
2  0.210526  0.729730      0.0
3  0.000000  1.000000      1.0
4  0.552632  0.324324      1.0
5  0.500000  0.648649      0.0
6  0.263158  0.405405      1.0
7  0.263158  0.648649      0.0
8  0.552632  0.540541      0.0
9  1.000000  0.000000      1.0

In [220]:
x = scaled_df.iloc[:8,:2].values.transpose()
y = scaled_df.iloc[:8,2:].values.transpose()
x, x.shape, y, y.shape

xval = scaled_df.iloc[8:,:2].values.transpose()
yval = scaled_df.iloc[8:,2:].values.transpose()
xval

array([[0.55263158, 1.        ],
       [0.54054054, 0.        ]])