In [46]:
import pandas as pd
import numpy as np
import random

In [55]:
columns = ['Height', 'Weight']
index = ['person_' + str(x) for x in range(1, 6)]
height_val = [random.randint(160, 200) for x in index]
weight_val = [random.randint(60, 100) for x in index]
values = zip(height_val, weight_val)

df = pd.DataFrame(values, index=index, columns=columns)
df = df.reset_index()
df

      index  Height  Weight
0  person_1     174      95
1  person_2     190      71
2  person_3     180      97
3  person_4     199      89
4  person_5     174      75

In [54]:
df.to_csv('nn_fake_data_example_csv.csv', index=False)

In [ ]:
for